# Игнорировать файлы и директории, созданные IDE и редакторами кода
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# Игнорировать временные файлы
[Tt]emp/
[Oo]bj/

# Игнорировать файлы логов
*.log
*.logs

# Игнорировать файлы сборки
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Игнорировать файлы пакетов NuGet
packages/
*.nupkg

# Игнорировать файлы автодокументирования
_help/
DocFX/

# Игнорировать файлы временных данных
*.bak
*.cache
*.bak
*.swp
*.tmp
*.tmp.*
*.~*

# Игнорировать файлы с настройками пользователя
*.user
*.suo
*.resharper*
*.[Cc]ache
*.DS_Store